<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDZSSbFJTeL9P_DRGqv4dPOqnhJeWqC358</string>
	<key>GCM_SENDER_ID</key>
	<string>754376836661</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.albatrossgamingstudios.PawSome-Guys</string>
	<key>PROJECT_ID</key>
	<string>pawsome-guys-bffa3</string>
	<key>STORAGE_BUCKET</key>
	<string>pawsome-guys-bffa3.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:754376836661:ios:2a773dca5a1ffbbb8b937c</string>
</dict>
</plist>